<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center">
		
		<div class="text-center">
			<h1 clas="font-weight-bold">Contact Manager Application</h1>
			
			<p>
				Start managing your contacts in a smarter way. 
				We provide very efficient and smarter management and handling of contacts.
			</p>
			
			<button class="btn bg-primary btn-lg text-white">Get Started</button>
			
		</div>
		
	</section>
	
</body>
</html>