<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Reset Password</title>
</head>

<body>

	<section>

		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 250px;" class="col-md-12">

							<form id="login-form" class="form" th:action="@{/updatePassword}" method="post">

								<h3 class="text-center text-info">Reset Password</h3>

								<div class="form-group">
									<label for="newPassword" class="text-info">New Password</label><br>
									<input type="password" name="newPassword" id="newPassword" class="form-control"
										placeholder="Enter your new password" required>
								</div>

								<!-- <div class="form-group">
									<label for="password" class="text-info">Password</label><br>
									<input type="password" name="password" id="password" class="form-control">
								</div> -->
								
								<div class="form-group text-center">
									<input type="submit" name="submit" class="btn btn-success btn-md mt-1"
										value="Update Password">
								</div>

							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>

</html>