<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Signup</title>
</head>

<body>

	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-2">

						<div th:if="${session.message}" th:classappend="${session.message.type}"
						 class="alert text-center" role="alert">
							
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							
						</div>

						<div class="container text-center">

							<img th:src="@{/images/add-user.png}" style="width: 80px;" alt="" />

						</div>

						<h1 class="text-center">Register here!!</h1>

						<form th:action="@{/signupAction}" method="post" th:object="${user}">

							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" name="name" id="name"
									aria-describedby="emailHelp" placeholder="Enter Name" th:value="${user.name}"
									required>

							</div>

							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" name="email" id="email"
									aria-describedby="emailHelp" placeholder="Enter Email" th:value="${user.email}"
									required>

							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" name="password" id="password"
									placeholder="Enter Password">
							</div>

							<div class="form-group">
								<label for="about">About</label>
								<textarea id="about" class="form-control" name="about"
									placeholder="Enter about yourself" rows="5" th:text="${user.about}"></textarea>
							</div>

							<div class="form-group form-check text-center">

								<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
								<label for="agreement">Accept terms & conditions</label>

							</div>

							<div class="container text-center">

								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning text-white">Reset</button>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</section>

</body>

</html>