<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Signup</title>
</head>

<body>

	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-8 offset-md-2">

					<div class="my-card mt-2">

						<div th:if="${session.message}" th:classappend="${session.message.type}"
							class="alert text-center" role="alert">

							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>

						</div>

						<div class="container text-center">

							<img th:src="@{/images/add-user.png}" style="width: 80px;" alt="" />

						</div>

						<h1 class="text-center">Register here!!</h1>

						<!-- name attributes of form fields 
						should contain the same value/name as POJO class attribute  -->

						<form novalidate="novalidate" th:action="@{/signupAction}" method="post" th:object="${user}">

							<div class="form-group">
								<label for="name">Name</label>
								<input 
									type="text" 
									class="form-control" 
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									name="name" 
									id="name"
									aria-describedby="emailHelp" 
									placeholder="Enter Name" 
									th:value="${user.name}"
									required>

								<div 
								class="invalid-feedback" 
								th:each="e : ${#fields.errors('name')}" th:text="${e}">
								</div>

							</div>

							<div class="form-group">
								<label for="email">Email</label>
								<input 
									type="email" 
									class="form-control"
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}"
									name="email" 
									id="email"
									aria-describedby="emailHelp" 
									placeholder="Enter Email" 
									th:value="${user.email}"
									required>
									
								<div 
								class="invalid-feedback" 
								th:each="e : ${#fields.errors('email')}" th:text="${e}">
								</div>

							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input 
									type="password" 
									class="form-control"
									th:classappend="${#fields.hasErrors('password') ? 'is-invalid':''}" 
									name="password" 
									id="password"
									placeholder="Enter Password">
									
								<div 
								class="invalid-feedback" 
								th:each="e : ${#fields.errors('password')}" th:text="${e}">
								</div>
								
							</div>

							<div class="form-group">
								<label for="about">About</label>
								<textarea 
									id="about" 
									class="form-control"
									th:classappend="${#fields.hasErrors('about') ? 'is-invalid':''}" 
									name="about"
									placeholder="Enter about yourself" 
									rows="5" 
									th:text="${user.about}">
								</textarea>
									
								<div 
								class="invalid-feedback" 
								th:each="e : ${#fields.errors('about')}" th:text="${e}">
								</div>
								
							</div>

							<div class="form-group form-check text-center">

								<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
								<label for="agreement">Accept terms & conditions</label>

							</div>

							<div class="container text-center">

								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn-warning text-white">Reset</button>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</section>

</body>

</html>