<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/normal_base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Update Contact</title>
</head>

<body>
	<section>

		<div class="card mx-3">

			<div class="card-body">

				<h1 class="text-center">Update Contact</h1>

				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-10 offset-md-1">

							<form class="mt-2" action="" th:action="@{/user/update-contact-action}" method="post" enctype="multipart/form-data"
								th:object="${contact}">

								<div class="input-group">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa-solid fa-1"></i>

										</div>

									</div>

									<input th:value="${contact.firstName}" type="text" class="form-control" name="firstName"
										placeholder="Enter first name" required />
								</div>

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa-solid fa-2"></i>

										</div>

									</div>

									<input th:value="${contact.secondName}" type="text" class="form-control" name="secondName"
										placeholder="Enter second name" required />
								</div>

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa-solid fa-envelope"></i>

										</div>

									</div>

									<input th:value="${contact.email}" type="email" class="form-control" name="email" placeholder="Enter email"
										required />
								</div>

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa-solid fa-briefcase"></i>

										</div>

									</div>

									<input th:value="${contact.work}" type="text" class="form-control" name="work" placeholder="Enter work"
										required />
								</div>

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa-solid fa-phone"></i>

										</div>

									</div>

									<input th:value="${contact.phone}" type="number" min="10" class="form-control" name="phone"
										placeholder="Enter mobile number" required />
								</div>

								<div class="form-group mt-3">

									<textarea th:text="${contact.description}" id="mytextarea" type="text" class="form-control" name="description"
										rows="5" placeholder="Enter description"></textarea>
								</div>

								<div class="form-group">

									<input type="file" onchange="readURL(this)" class="form-control" name="cImage" />
									<div class="container text-center">
										<img class="mt-2" th:src="@{'/images/'+${contact.image}}" id="imgFile" style="max-height: 250px; max-width: 100%;" />
									</div>
								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-outline-success">Add Contact</button>

									<button type="reset" class="btn btn-secondary">Reset</button>
								</div>


							</form>

						</div>

					</div>

				</div>

				</h1>

			</div>

		</div>

		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

		<script>

			tinymce.init({
				selector: '#mytextarea'
			});

			function readURL(input) {
				if (input.files && input.files[0]) {
					let reader = new FileReader();
					reader.onload = function (e) {
						$('#imgFile').attr('src', e.target.result).width(100).height(150);
					};
					reader.readAsDataURL(input.files[0]);
				}
			}

		</script>

	</section>

</body>

</html>